include lib
!!! 5
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

head
  meta(charset="utf-8")
  //- N.B. http://blog.yjl.im/2011/01/bad-value-x-ua-compatible-for-attribute.html
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  title #{title}

  meta(name="generator", content="ndoc")
  meta(name="description", content="")
  meta(name="author", content="")

  meta(name="viewport", content="width=device-width,initial-scale=1")

  mixin identifyBuild

  // CSS
  link(rel="stylesheet", href="#{dirPrefix}resources/csses/bootstrap.css")
  link(rel="stylesheet", href="#{dirPrefix}resources/csses/prettify.css")
  link(rel="stylesheet", href="#{dirPrefix}resources/csses/refguide_overrides.css")
  // end CSS

  script(src="#{dirPrefix}resources/javascripts/jquery.js")
  script(src="#{dirPrefix}resources/javascripts/clicker.js")
  script(src="#{dirPrefix}resources/javascripts/jquery.collapse.js")
  script(src="#{dirPrefix}resources/javascripts/jquery.cookie.js")
  script(src="#{dirPrefix}resources/javascripts/bootstrap-dropdown.js")

body(onload="styleCode()")

  div.topbar
    div.fill
      div.container#topSection
        ul.nav
            li(class="dropdown", data-dropdown="dropdown")
                a(class="dropdown-toggle brand", href="#")
                ul(class="dropdown-menu")
                li
                    a(href='http://nodebits.org/') Nodebits
        ul.nav
          li#node_js_ref
            a(href='#{dirPrefix}nodejs_ref_guide/latest/index.html') Node JS Reference
          li#nodejs_dev_guide
            a(href='#{dirPrefix}nodejs_dev_guide/index.html') Node JS Manual
          li#js_doc
            a(href='#{dirPrefix}js_doc/index.html') Javascript Reference
        form(id='searchbox', action='', class='pull-right')  
          input(class='span3', name='query', type='text', placeholder="Search Documentation", title="Search across all the documentation types") 

  header.jumbotron.masthead#overview
    a(class="c9-sponsor", href="http://c9.io/", title="cloud9 ide", target="_blank")
    div.inner
      div.container
        if nodejsRef == 'true'
          h1 Node.js Reference
        else
          h1 Javascript Reference
        p.lead

  .container
    .content
      .row.container
        .span5.offset4.sidebarContainer
          #sidebar
            if nodejsRef == 'true'
              include nodejs_ref_menu.jade
            else
              include js_doc_menu.jade
        .span11
          for obj in tree.children
            .members
                  h1.memberHeader
                    -var heading = obj.path.replace(/_/g," ")
                    span.name #{heading}
                  if obj.type == 'class' || obj.type == 'namespace' || obj.type == 'section'
                    ul(class='tabs', data-tabs='tabs')
                      for selector, title in {'Events': ['event', 'events'], 'Constructors': ['constructor', 'constructors'], 'Class methods': ['class method', 'class_methods'], 'Class properties': ['class property', 'class_properties'], 'Instance methods': ['instance method', 'instance_methods'], 'Instance properties': ['instance property', 'instance_properties'], 'Constants': ['constant', 'constants']}
                        methods = obj.children.filter(function(x){return x.type === selector[0]})
                          li(class="dropdown", data-dropdown="dropdown")
                            if methods.length
                              a(href="\#", class="dropdown-toggle")!= renameMemberTitle(title, methods.length)
                              if (methods.length >= 20 && methods.length < 30)
                                ul.dropdown-menu.double
                                  for m in methods
                                    li(data-id='#{m.id}', class='memberLink')
                                      mixin link(m, true)                            
                              else if (methods.length >= 30 && methods.length < 40)
                                ul.dropdown-menu.triple
                                  for m in methods
                                    li(data-id='#{obj.id}', class='memberLink')
                                      mixin link(m, true)
                              else if (methods.length >= 40)
                                ul.dropdown-menu.quad
                                  for m in methods
                                    li(data-id='#{obj.id}', class='memberLink')
                                      mixin link(m, true)                          
                              else
                                ul.dropdown-menu
                                  for m in methods
                                    li(data-id='#{m.id}', class='memberLink')
                                      mixin link(m, true)                                
                  else
                    ul(class='tabs', data-tabs='tabs')
                    -console.log("I did not create a menu for: " + obj.id + "_" + obj.name + "~~~" + obj.type)
          #content
             mixin api()
             div(id="disqus_thread")

    footer#footer
      .container
        .footer-text Thanks to these content providors | &#169; 2012:
        .sponsors
            a(class="c9-logo", href="http://c9.io/", title="cloud9 ide", target="_blank")
            a(class="joyent-logo", href="http://www.joyent.com/", title="joyent", target="_blank")
            a(class="mozilla-logo", href="http://www.mozilla.org/", title="mozilla", target="_blank")
            a(class="nodejitsu-logo", href="http://nodejitsu.com/", title="nodejitsu", target="_blank")

  // scripts concatenated and minified via ant build script
  <script defer src="#{dirPrefix}resources/javascripts/plugins.js"></script>
  <script defer src="#{dirPrefix}resources/javascripts/prettify.js"></script>
  <script defer src="#{dirPrefix}resources/javascripts/prettify-extension.js"></script>
  <script defer src="#{dirPrefix}resources/javascripts/script.js"></script>
  <script defer src="#{dirPrefix}resources/javascripts/disqus-ext.js"></script>
  //-<script defer src="tree.js"></script>
  // end scripts

  //if lt IE 7
    script(src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js")
    script
      window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})

</html>
